<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>23/07/13 14:15:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHarnessSetUpTest.TestHarnesssSetUp(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:com.qa.testcases.TestHarnessSetUpTest@1fdc050]">TestHarnesssSetUp</td> 
  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>23/07/13 14:15:08</td>   <td>-1978</td> <td title="&gt;&gt;TestBase.setupSuite()[pri:0, instance:com.qa.testcases.TestHarnessSetUpTest@1fdc050]">&gt;&gt;setupSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@9976043</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>23/07/13 14:16:11</td>   <td>61460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.TestHarnessSetUpTest@1fdc050]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@9976043</td>   <td></td> </tr>
</table>
