<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78c790">  <td>22/01/18 20:21:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AWD_Test.applicationAWD_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testcases.AWD_Test@13ad2d6]">applicationAWD_test</td> 
  <td>main@29508897</td>   <td></td> </tr>
<tr bgcolor="78c790">  <td>22/01/18 20:23:15</td>   <td>108389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AWD_Test.applicationAWD_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testcases.AWD_Test@13ad2d6]">applicationAWD_test</td> 
  <td>main@29508897</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>22/01/18 20:21:24</td>   <td>-1772</td> <td title="&gt;&gt;TestBase.setupSuite()[pri:0, instance:com.qa.testcases.AWD_Test@13ad2d6]">&gt;&gt;setupSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@29508897</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>22/01/18 20:23:08</td>   <td>101439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.AWD_Test@13ad2d6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@29508897</td>   <td></td> </tr>
<tr bgcolor="aedc67">  <td>22/01/18 20:23:15</td>   <td>108396</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.AWD_Test@13ad2d6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@29508897</td>   <td></td> </tr>
</table>
